*{
  margin: 0;
  padding: 0;
}
body, #app {
  height: 100vh;
  width: 100vw;
  background: rgb(183, 220, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 使手機下滑重新整理失效 */
  max-height: -webkit-fill-available; /* 使100vh包含工具列 */
}